<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <title>Board</title>
</head>
<body>
<div layout:fragment="content">
    <h2>List</h2>
    <a href="register.html" th:href="@{board/register}">New</a>
    <table border="1">
        <tr>
            <th align="center" width="80">NO</th>
            <th align="center" width="320">TITLE</th>
            <th align="center" width="100">WRITER</th>
            <th align="center" width="180">REGTIME</th>
        </tr>

        <tr th:if="${#lists.isEmpty(list)}">
            <td colspan="4">
                List is empty.
            </td>
        </tr>

        <tr th:each="board : ${list}">
            <td align="center" th:text="${board.boardNo}">${board.boardNo}</td>
            <td align="left"><a href="read.html" th:href="@{|board/read?boardNo=${board.boardNo}|}" th:text="${board.title}">${board.title}</a></td>
            <td align="right" th:text="${board.writer}">${board.writer}</td>
            <td align="center" th:text="${board.regTime}">${board.regTime}</td>
        </tr>
    </table>
</div>
</body>
</html>
